.news-container {
  margin-left: 5px;
  min-height: 50px;
  margin-bottom: 5px;
  margin-top: 5px;
  margin-right: 10px;
  border: 1px solid rgba(255,255,255,.12);
  border-radius: 5px;
  background-color: rgba(0,0,0,0);
}

div.leftContent {
  flex: 1;
  margin-right: 5px;
  margin-bottom: 5px;
  overflow-y: auto;
}


div.pagingContent {
  height: auto;
  margin-top: 10%;
  margin-left: 2%;
  margin-right:2%;
  bottom: 0;
  border: 1px solid rgba(255,255,255,.12);
  border-radius: 5px;

}

div.results{
  padding: 5px;
  flex: 1;
  overflow-y: scroll;
  margin-bottom: 5px;
  margin-right: 5px;
  border: 1.5px solid rgba(255,255,255,.12);
  border-radius: 5px;
}


.dateInput {
  width: 30%;
}


.spanDate {
  width: 15%;
  margin-left: 2.5%;
  margin-right:2.5%;
}

.fullWidth {
  margin-top: 0.5%;
  width: 96%;
  margin-left: 2%;
  margin-right:2%;
}

#paginator {
  background-color: rgba(0,0,0,0);
  font-size: 14px;
  color: white;
}

::ng-deep .mat-select-panel{
  background-color: #37303ef0;
  border: 1px solid white;
  border-radius: 5px;
}

.mat-option{
  border: 1px solid rgba(255,255,255,.12);
  border-radius: 5px;
}

::ng-deep .mat-option-text  {
  color: white;
}

 .mat-option[aria-selected="true"] {
  font-weight: bold;
}


::ng-deep .mat-calendar {
  background-color: #37303ef0;
  border: 1px solid white;
  border-radius: 5px;
}



















.csgo{
  background-image: url('../../../assets/img/cs-go.png');
  background-size: cover;
}

.lol {
  background-image: url('../../../assets/img/lol.png');
  background-size: cover;
}

.hs {
  background-image: url('../../../assets/img/hs.png');
  background-size: cover;
}

.dota {
  background-image: url('../../../assets/img/dota.png');
  background-size: cover;
}












::-webkit-scrollbar {
  width: 6px;
}


::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px #37303ea8;
  border-radius: 1px;
}


::-webkit-scrollbar-thumb {
  background: white;
  border-radius: 1px;
}


::-webkit-scrollbar-thumb:hover {
  background: white;
}




