<div fxFlexFill fxLayout="row" fxLayout.xs="column" >

    <div class="leftContent" fxFlex="50">
        <div>
          <h1>Aktuality</h1>
        </div>
        <div class="filterContent">
            <div>
                <mat-form-field class="fullWidth">
                    <input matInput placeholder="Hledaný název aktuality" value="">
                </mat-form-field>
            </div>
            <div>
                <mat-form-field class="fullWidth">
                  <mat-label>Sekce</mat-label>
                  <mat-select [(value)]="selectedSection" matNativeControl>
                      <mat-option *ngFor="let section of sections" [value]="section.value">
                          {{ section.viewValue }}
                      </mat-option>
                  </mat-select>
                </mat-form-field>
            </div>
            <div>
                <span class="spanDate">Od:</span>
                <mat-form-field class="dateInput">
                    <input matInput [matDatepicker]="pickerFrom">
                    <mat-datepicker-toggle matSuffix [for]="pickerFrom"></mat-datepicker-toggle>
                    <mat-datepicker #pickerFrom></mat-datepicker>
                </mat-form-field>
                <span class="spanDate">Do:</span>
                <mat-form-field class="dateInput">
                    <input matInput [matDatepicker]="pickerTo">
                    <mat-datepicker-toggle matSuffix [for]="pickerTo"></mat-datepicker-toggle>
                    <mat-datepicker #pickerTo></mat-datepicker>
                </mat-form-field>
            </div>
            <div>
                <mat-form-field class="fullWidth">
                    <mat-label>Seřadit podle</mat-label>
                    <mat-select [(value)]="selectedOrder"  matNativeControl>
                        <mat-option *ngFor="let order of orders" [value]="order.value">
                            {{ order.viewValue }}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div>
                <button class="fullWidth" mat-stroked-button>Vyfiltrovat</button>
            </div>
        </div>
            <div class="pagingContent">
                <mat-paginator id="paginator" [length]="length"
                  [pageSize]="pageSize"
                  [pageIndex]="currentPage"
                  [pageSizeOptions]="pageSizeOptions"
                  (page)="pageEvent = reloadData($event)">
                </mat-paginator>
              </div>
   </div>


     <div class="results"  fxFlex="50">
        <mat-card  *ngFor="let newsInst of newsArr" class="news-container">
            <mat-card-header>
              <div mat-card-avatar [ngClass]=newsInst.section></div>
              <mat-card-title>
                {{newsInst.title}}
              </mat-card-title>
              <mat-card-subtitle>
                {{newsInst.date}}
              </mat-card-subtitle>
            </mat-card-header>
            <mat-card-actions>
              <a mat-stroked-button [routerLink]="['/news/' ,  newsInst.id]"> Celý článek zde </a>
            </mat-card-actions>
          </mat-card>
      </div>
</div>



