<div class="register-container">
    <h2>Registrační formulář</h2>
    <mat-form-field>
      <input
          [(ngModel)]="username"
          onkeypress="return String.fromCharCode(event.charCode).match(/[^a-zA-Z0-9]/g) === null"
          type="text"   matInput placeholder="Uživatelské jméno"
      >
    </mat-form-field>
    <mat-form-field>
        <input
          [(ngModel)]="email"
          type="email"  matInput placeholder="Emailová adresa"
        >
    </mat-form-field>
    <mat-form-field>
      <input
          [(ngModel)]="password"
          onkeypress="return String.fromCharCode(event.charCode).match(/[^a-zA-Z0-9]/g) === null"
          type="password" matInput placeholder="Heslo"
      >
    </mat-form-field>
    <mat-form-field>
        <input
            [(ngModel)]="passwordAgain"
            onkeypress="return String.fromCharCode(event.charCode).match(/[^a-zA-Z0-9]/g) === null"
            type="password" matInput placeholder="Heslo znovu"
        >
        <mat-error>
            Hesla musí být stejná
        </mat-error>
    </mat-form-field>
    <button mat-stroked-button>Zaregistrovat se</button>
</div>
<p>
    Máte již účet? <a [routerLink]="'/login'">Přihlašte se</a>.
</p>
