
<div>
  <a mat-stroked-button [routerLink]="'/news'">Zpět</a>
</div>
<div fxFlexFill>
  <div fxFlex class="cont">
    <mat-card class="news-card">
        <mat-card-header>
            <div mat-card-avatar class="lol"></div>
          <mat-card-title>
            NAzev clanku detail
          </mat-card-title>
          <mat-card-subtitle>
              21.10.2020
          </mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Etiam sapien elit, consequat eget, tristique non, venenatis quis, ante. Nulla non lectus sed nisl molestie malesuada. Integer rutrum, orci vestibulum ullamcorper ultricies, lacus quam ultricies odio, vitae placerat pede sem sit amet enim. Duis bibendum, lectus ut viverra rhoncus, dolor nunc faucibus libero, eget facilisis enim ipsum id lacus. Nullam at arcu a est sollicitudin euismod. Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem eum fugiat quo voluptas nulla pariatur? Integer in sapien. Phasellus rhoncus. Mauris tincidunt sem sed arcu. Integer vulputate sem a nibh rutrum consequat. Nullam justo enim, consectetuer nec, ullamcorper ac, vestibulum in, elit. Nulla accumsan, elit sit amet varius semper, nulla mauris mollis quam, tempor suscipit diam nulla vel leo. Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem eum fugiat quo voluptas nulla pariatur? Cras elementum. Nunc tincidunt ante vitae massa. Integer in sapien. Curabitur bibendum justo non orci.</p>

            <p>Fusce suscipit libero eget elit. Sed ac dolor sit amet purus malesuada congue. Donec ipsum massa, ullamcorper in, auctor et, scelerisque sed, est. Nullam feugiat, turpis at pulvinar vulputate, erat libero tristique tellus, nec bibendum odio risus sit amet ante. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Integer in sapien. Mauris tincidunt sem sed arcu. Itaque earum rerum hic tenetur a sapiente delectus, ut aut reiciendis voluptatibus maiores alias consequatur aut perferendis doloribus asperiores repellat. Nullam sit amet magna in magna gravida vehicula. Mauris metus. Nullam rhoncus aliquam metus.</p>

            <p>Curabitur sagittis hendrerit ante. Duis sapien nunc, commodo et, interdum suscipit, sollicitudin et, dolor. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. In sem justo, commodo ut, suscipit at, pharetra vitae, orci. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Curabitur vitae diam non enim vestibulum interdum. Mauris tincidunt sem sed arcu. Aliquam in lorem sit amet leo accumsan lacinia. Nulla turpis magna, cursus sit amet, suscipit a, interdum id, felis. In convallis. Donec iaculis gravida nulla. Curabitur vitae diam non enim vestibulum interdum. Suspendisse nisl. Donec ipsum massa, ullamcorper in, auctor et, scelerisque sed, est. Sed vel lectus. Donec odio tempus molestie, porttitor ut, iaculis quis, sem. Sed convallis magna eu sem. Integer tempor. Suspendisse sagittis ultrices augue. Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem eum fugiat quo voluptas nulla pariatur?</p>
            <p>Fusce suscipit libero eget elit. Sed ac dolor sit amet purus malesuada congue. Donec ipsum massa, ullamcorper in, auctor et, scelerisque sed, est. Nullam feugiat, turpis at pulvinar vulputate, erat libero tristique tellus, nec bibendum odio risus sit amet ante. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Integer in sapien. Mauris tincidunt sem sed arcu. Itaque earum rerum hic tenetur a sapiente delectus, ut aut reiciendis voluptatibus maiores alias consequatur aut perferendis doloribus asperiores repellat. Nullam sit amet magna in magna gravida vehicula. Mauris metus. Nullam rhoncus aliquam metus.</p>

            <p>Fusce suscipit libero eget elit. Sed ac dolor sit amet purus malesuada congue. Donec ipsum massa, ullamcorper in, auctor et, scelerisque sed, est. Nullam feugiat, turpis at pulvinar vulputate, erat libero tristique tellus, nec bibendum odio risus sit amet ante. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Integer in sapien. Mauris tincidunt sem sed arcu. Itaque earum rerum hic tenetur a sapiente delectus, ut aut reiciendis voluptatibus maiores alias consequatur aut perferendis doloribus asperiores repellat. Nullam sit amet magna in magna gravida vehicula. Mauris metus. Nullam rhoncus aliquam metus.</p>

            <p>Fusce suscipit libero eget elit. Sed ac dolor sit amet purus malesuada congue. Donec ipsum massa, ullamcorper in, auctor et, scelerisque sed, est. Nullam feugiat, turpis at pulvinar vulputate, erat libero tristique tellus, nec bibendum odio risus sit amet ante. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Integer in sapien. Mauris tincidunt sem sed arcu. Itaque earum rerum hic tenetur a sapiente delectus, ut aut reiciendis voluptatibus maiores alias consequatur aut perferendis doloribus asperiores repellat. Nullam sit amet magna in magna gravida vehicula. Mauris metus. Nullam rhoncus aliquam metus.</p>
            <p>Fusce suscipit libero eget elit. Sed ac dolor sit amet purus malesuada congue. Donec ipsum massa, ullamcorper in, auctor et, scelerisque sed, est. Nullam feugiat, turpis at pulvinar vulputate, erat libero tristique tellus, nec bibendum odio risus sit amet ante. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Integer in sapien. Mauris tincidunt sem sed arcu. Itaque earum rerum hic tenetur a sapiente delectus, ut aut reiciendis voluptatibus maiores alias consequatur aut perferendis doloribus asperiores repellat. Nullam sit amet magna in magna gravida vehicula. Mauris metus. Nullam rhoncus aliquam metus.</p>

            <p>Fusce suscipit libero eget elit. Sed ac dolor sit amet purus malesuada congue. Donec ipsum massa, ullamcorper in, auctor et, scelerisque sed, est. Nullam feugiat, turpis at pulvinar vulputate, erat libero tristique tellus, nec bibendum odio risus sit amet ante. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Integer in sapien. Mauris tincidunt sem sed arcu. Itaque earum rerum hic tenetur a sapiente delectus, ut aut reiciendis voluptatibus maiores alias consequatur aut perferendis doloribus asperiores repellat. Nullam sit amet magna in magna gravida vehicula. Mauris metus. Nullam rhoncus aliquam metus.</p>

          </mat-card-content>
          <mat-card-footer>
              <div class="author">
                <span>Autor článku:</span>
                <mat-icon>account_circle</mat-icon>
                <span>Salvik</span>
              </div>
          </mat-card-footer>
    </mat-card>
  </div>
</div>
