.csgo{
  background-image: url('../../../../assets/img/cs-go.png');
  background-size: cover;
}

.lol {
  background-image: url('../../../../assets/img/lol.png');
  background-size: cover;
}

.hs {
  background-image: url('../../../../assets/img/hs.png');
  background-size: cover;
}

.dota {
  background-image: url('../../../../assets/img/dota.png');
  background-size: cover;
}

.news-card {
  background-color: rgba(0,0,0,0);
  height: 93%;
  overflow-y: auto;
  margin-bottom: 30px;
  border: 1px solid rgba(255,255,255,.12);
  border-radius: 5px;
}

.cont{
  margin-bottom: 30px;
  margin-top: 5px;
  flex: 1;
}




::-webkit-scrollbar {
  width: 6px;
}


::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px #37303ea8;
  border-radius: 1px;
}


::-webkit-scrollbar-thumb {
  background: white;
  border-radius: 1px;
}


::-webkit-scrollbar-thumb:hover {
  background: white;
}
