.login-container {
  display: flex;
  flex-direction: column;
  position: relative;
}

.login-container > * {
  width: 100%;
}


.spinnerContent{
  display: flex;
  align-content: center;
  width:90%;
  z-index: 100;
  position:absolute;
  align-items: center;
  justify-content: center;
  margin-top: 5%;
}

.spinner::ng-deep circle{
  stroke: #FFFFFF !important;
  }

.errorDialog{
text-align: center;
font-size: 14px;
width:70%;
margin: auto;
margin-top: 10px;
border: 2px solid red;
border-radius: 5px;
background-color: #37303ef0;
}

