<div flex *ngIf=!spinnerIsHidden  class="spinnerContent">
    <mat-spinner class= "spinner" [diameter]="200"></mat-spinner>
</div>

<div class="login-container">
  <h2>Přihlašovací formulář</h2>
  <mat-form-field>
    <input onkeypress="return String.fromCharCode(event.charCode).match(/[^a-zA-Z0-9]/g) === null" type="text"  matInput placeholder="Uživatelské jméno" [(ngModel)]="username">
  </mat-form-field>

  <mat-form-field>
    <input onkeypress="return String.fromCharCode(event.charCode).match(/[^a-zA-Z0-9]/g) === null"  type="password" matInput placeholder="Heslo" [(ngModel)]="password">
  </mat-form-field>

  <button (click)=checkLogin() mat-stroked-button>Přihlásit se</button>
</div>

<p>
    Nemáte založený účet? <a [routerLink]="'/register'">Zaregistrujte se</a>.
</p>

<mat-card *ngIf=showErrorMessageDialog class="errorDialog">
    Špatné uživatelské jméno nebo heslo!
</mat-card>
