<div fxFlexFill class="calendaryContainer">
  <div class="menu">
    <button mat-icon-button>
      <mat-icon>navigate_before</mat-icon>
    </button>
    <h3>Prosincec 2019</h3>
    <button mat-icon-button>
      <mat-icon>navigate_next</mat-icon>
    </button>
    <mat-icon
      matTooltip="Info about the action">
        help
    </mat-icon>
  </div>
  <div class="month">
    <mat-grid-list [cols]="numberOfCols" rowHeight="120px" (window:resize)="onResize($event)">
      <mat-grid-tile class="dayContainer"
          *ngFor="let day of daysInCurrentMonth"
          [colspan]="day.cols"
          [rowspan]="day.rows"
          (click)="redirectToDetailDay(day)"
          >
          <mat-grid-tile-header>
            {{day.dateName}} , {{day.dayName}}
          </mat-grid-tile-header>
             <mat-icon>gamepad</mat-icon>
             Turnaj
      </mat-grid-tile>
    </mat-grid-list>
  </div>
</div>
