.dayContainer{
  border-style: solid;
  border-width: 1px;
  border-color: white;
  display: table;
}

h3 {
  display: inline-block;
  margin-left: 5%;
  margin-right:5%;
}

.month {
  margin-left: 0.5%;
  margin-right: 0.5%;
}

.calendaryContainer{
  flex: auto;
  overflow-y: auto;
  overflow-x: hidden;
}

.header{
  background-color: yellow;
  display: table-row;
  height: 50%;

}

.data{
  background-color: blue;
  display: table-row;
  height: 50%;
}





::-webkit-scrollbar {
  width: 6px;
}


::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px #37303ea8;
  border-radius: 1px;
}


::-webkit-scrollbar-thumb {
  background: white;
  border-radius: 1px;
}


::-webkit-scrollbar-thumb:hover {
  background: white;
}

.dayContainer:hover {
  background-color:rgba(0,0,0,.38);
}


.tournaments{
  background-image: url('../../../assets/img/blueDot.png');
  background-size: cover;

}

