/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body {
  margin: 0;
  font-family: Roboto,
   "Helvetica Neue", sans-serif;
  overflow-x: hidden ;
  overflow-y: hidden;
  background-image: url("/assets/img/background.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
