.menu-spacer {
  flex: 1 1 auto;
}

.sideBar {
  position: absolute;
  background-color: #30303000;
}

.toolbar {
  background-color:#37303ea8;
}

.icon-display {
  transform: scale(1.5);
  padding-left: 10px;
  padding-right: 30px;
}

.contentCard {
  overflow-y: hidden;
  background-color: #37303ea8;
  width: 100% - 20px;
  height: 82%;
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 20px;
}



.turnOffOverflow{
  overflow: hidden;
}


/*

::-webkit-scrollbar {
  width: 5px;
}


::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px #37303ea8;
  border-radius: 10px;
}


::-webkit-scrollbar-thumb {
  background: white;
  border-radius: 10px;
}


::-webkit-scrollbar-thumb:hover {
  background: white;
}
*/
