<mat-toolbar class="toolbar">
    <mat-toolbar-row>

      <mat-icon class="icon-display" *ngIf="loginService.isUserLoggedIn()">view_module</mat-icon>
      <button  mat-icon-button *ngIf="loginService.isUserLoggedIn()" [matMenuTriggerFor]="menu">
        <mat-icon>account_circle</mat-icon>
      </button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item>Můj profil</button>
        <button (click)=loginService.logout() mat-menu-item>Odhlásit</button>
      </mat-menu>

      <a *ngIf="!loginService.isUserLoggedIn()" mat-button [routerLink]="'/login'"> Přihlásit </a>
      <a *ngIf="!loginService.isUserLoggedIn()"  mat-button [routerLink]="'/register'"> Registrovat </a>

      <span class="menu-spacer"></span>
      <div fxShow="true" fxHide.lt-md="true">
          <a mat-button [routerLink]="''"> Domů </a>
          <a mat-button [routerLink]="'/news'"> Aktuality </a>
          <a mat-button [routerLink]="'/calendary'"> Kalendář </a>
          <a mat-button [routerLink]="'/tournaments'"> Turnaje </a>
      </div>

      <div fxShow="true" fxHide.gt-sm="true">
          <a mat-button (click)="sidenav.toggle()">
              <mat-icon>menu</mat-icon>
          </a>
      </div>

    </mat-toolbar-row>
  </mat-toolbar>


  <mat-sidenav-container fxFlexFill class="sideBar">
      <mat-sidenav position="end" #sidenav fxLayout="column">
        <div fxLayout="column">
          <a (click)="sidenav.toggle()" mat-button [routerLink]="''"> Domů </a>
          <a (click)="sidenav.toggle()" mat-button [routerLink]="'/news'"> Aktuality </a>
          <a (click)="sidenav.toggle()" mat-button [routerLink]="'/calendary'"> Kalendář </a>
          <a (click)="sidenav.toggle()" mat-button [routerLink]="'/tournaments'"> Turnaje </a>
          <a (click)="sidenav.toggle()" mat-button>
              <mat-icon>close</mat-icon>
          </a>
        </div>
      </mat-sidenav>
      <mat-sidenav-content class="turnOffOverflow">
        <mat-card class="contentCard">
              <router-outlet></router-outlet>
        </mat-card>
      </mat-sidenav-content>
    </mat-sidenav-container>
